.sprite {
  width: 128px; /* Set the width of the sprite */
  height: 128px; /* Set the height of the sprite */
  animation: animateSprite 1s steps(4) infinite; /* Define the animation */
}

@keyframes animateSprite {
  from {
    background-position: 0px;
  }
  to {
    background-position: 512px; /* Set the final position of the sprite */
  }
}

.sprite.shoot {
  /* Define shooting animation */
  animation: shootAnimation 1s linear forwards;
}


@keyframes shootAnimation {
  from {
    /* Initial position of the bullet (e.g., off-screen) */
    transform: translateX(-100%);
  }
  to {
    /* Final position of the bullet (e.g., on-screen) */
    transform: translateX(100%);
  }
}
